@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #2B3137;
  color: #FFFFFF;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.text-center {
  text-align: center;
}

.btn {
  text-decoration: none;
  color: #00b3fa;
  display: inline-block;
  text-align: center;
  background-color: #fff;
}

.btn-round {
  border-radius: 50%;
}

.link-social-media {
  width: 3em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-project {
  width: 2.5em;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.container header {
  padding: 0 2em;
  text-align: right;
}

.container header .btn {
  padding: 0.8em 1.3em;
  border-radius: 0px 0px 20px 20px;
}

.container header .btn-mail:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container .hero {
  padding: 2em;
  margin-top: 6em;
}

.container .hero .hero-title {
  position: relative;
  z-index: -1;
  text-align: center;
  font-size: 3rem;
}

.container .hero .hero-title .desktop {
  display: none;
}

.container .hero .hero-title svg {
  position: absolute;
  top: -8%;
  left: 50%;
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
  z-index: -1;
}

.container .hero .code-box {
  margin-top: 2em;
  z-index: 1;
  border-radius: 15px;
}

.container .hero .code-box .cb-head {
  border-radius: 15px 15px 0px 0px;
  padding: 0.8em 1em;
  background-color: #24292E;
}

.container .hero .code-box .cb-head span:nth-child(1) {
  color: #FD5C63;
}

.container .hero .code-box .cb-head span:nth-child(2) {
  color: #FBB034;
}

.container .hero .code-box .cb-head span:nth-child(3) {
  color: #0ABF53;
}

.container .hero .code-box .cb-body {
  background-color: #272D33;
  padding: 0 1em;
  border-radius: 0px 0px 15px 15px;
}

.container .hero .code-box .cb-body pre {
  margin: 0;
}

.container .cursor {
  -webkit-animation: Typewriter-cursor 1s infinite;
          animation: Typewriter-cursor 1s infinite;
}

.container .Typewriter__cursor {
  -webkit-animation: Typewriter-cursor 1s infinite;
  animation: Typewriter-cursor 1s infinite;
  margin-left: 1px;
}

@-webkit-keyframes Typewriter-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Typewriter-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container .content {
  padding: 2em;
}

.container .content .content-title {
  font-size: 2rem;
}

.container .content .chevron {
  display: none;
}

.container .content .project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  border-radius: 15px;
}

.container .content .project-wrapper .project {
  min-height: 180px;
  background: #24292E;
  border-radius: 15px;
  padding: 0.2em 1em;
  position: relative;
}

.container .content .project-wrapper .project .project-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1em 0em 0em 0em;
}

.container .content .project-wrapper .project .project-description {
  color: #f1f1f1;
}

.container .content .project-wrapper .project .btn-overlay {
  position: absolute;
  right: 0;
  bottom: 10%;
  padding: 4px;
  border-radius: 50px 0px 0px 50px;
  background-color: #2B3137;
  -webkit-clip-path: inset(-8px 0px -8px -8px);
          clip-path: inset(-8px 0px -8px -8px);
}

.container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding: 2em;
}

.container footer .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.container footer .button-wrapper .link-social-media .sm-text {
  display: none;
}

.container footer .button-wrapper .link-social-media:hover {
  border: 2px solid;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
  }
  .container .hero {
    padding: 1em;
    margin-top: 0;
  }
  .container .hero .hero-title {
    text-align: left;
    font-size: 3.5rem;
    margin: 0;
  }
  .container .hero .hero-title .mobile {
    display: none;
  }
  .container .hero .hero-title .desktop {
    display: inline;
  }
  .container .hero .hero-title svg {
    top: 0%;
    left: 80%;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
    z-index: -1;
  }
  .container .hero .code-box {
    max-width: 400px;
    margin-top: 1em;
  }
  .container .content {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .content .chevron {
    display: inline;
    margin: 1em;
    color: #FFFFFF;
  }
  .container .content .content-title {
    display: none;
  }
  .container .content .project-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2em;
    overflow: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    scrollbar-width: none;
  }
  .container .content .project-wrapper .project {
    max-width: 400px;
    min-width: 400px;
  }
  .container footer {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container footer .button-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container footer .button-wrapper .link-social-media {
    border-radius: 20px;
    padding: 12px 15px;
    width: auto;
    height: 3em;
    font-size: .8rem;
  }
  .container footer .button-wrapper .link-social-media .sm-text {
    display: inline;
    margin: 0 5px;
    color: #333333;
  }
  .container footer .button-wrapper .link-social-media:hover {
    border: 2px solid;
    padding: 10px 13px;
  }
  .container footer .flag {
    display: inline;
  }
}
/*# sourceMappingURL=main.css.map */